/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 *= require font-awesome

 */



html {
  margin-top: 55px;
  padding: 0;
}

body { 
  margin: 0px; 
  padding: 0;
}

/*etc*/

.alert{
  padding: 15px;
  margin-bottom:  20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  display: inline-block;
  color: red;
 /* background-color: #2d2d30;*/
}

.k{
  background-color: transparent;
  color: #333 !important;
  text-align: left;
}

.head-pad{
  padding-bottom: 50px;
}

.push{
  padding-top: 50px;
}

.upgrade{
      background-color: #F44336;
}

/*.hoverless a:hover {
      color: transparent;
      background-color: transparent;
  }*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  margin-bottom:  6px;
}


/*posting#index*/

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
      margin: 10px;
      width: 390px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      text-align: center;
  }
}

/*#row {
  margin-right: -15px;
  margin-left: 8px;
}*/

/*posting#show*/

.m{
  margin-right: 23px;
  margin-left: 23px;
}

                /*might not need it if the pair has started working on it*/
#j{
  margin-bottom: -1px;
}

#r{
  height: 700px;
}
/*navbar*/

/*.navbar {
    margin: 0;
    border: 0;
}*/

.navbar .navbar-default .navbar-fixed-top {
  border: none;
  margin: 0;
  padding: 0;

}


/*sign in, sign up*/
.container{
  min-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.camera{
  color: #FFF;
  background-position: 50% 50% !important;
  background-size: cover !important;
  width: 100%;
  height: 700px;

  /*background: image-url('travel.jpg');*/
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image-url('1.jpg');
}

/*begin section sizing*/
.fullscreen{
  min-height: 85vh;
}

.flex-vertical-center{
  display: flex;  /*//enable flexbox*/
  align-items: center; /*//this center content vertically*/
  justify-content: center;  /*//this centers content horizontally*/
  margin-top: 16px;
}

/*posting#show*/

.map {
  overflow: hidden;
}

#show{
  padding-left: 20px;
  padding-right: 20px;
}

/*Home page*/

/* body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }*/
  h3, h4 {
      margin: 10px 0 30px 0;
   /*   letter-spacing: 10px;*/
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 1px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      /*-webkit-filter: grayscale(90%);*/
      /*filter: grayscale(90%);*/ /* make all photos black and white */
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #397CAC;
      color: #f1f1f1;
      border-radius: 5px;
      transition: .2s;
  }
  #search-posting {
    padding: 6px;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
 /* .nav-tabs li a {
      color: #777;
  }*/
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0px;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 1px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }

  /*button*/
  .btn-sample { 
  color: #FFFFFF; 
  background-color: #C2C2C2; 
  border-color: #FFFFFF; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #FFFFFF; 
  background-color: #000000; 
  border-color: #FFFFFF; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #C2C2C2; 
  border-color: #FFFFFF; 
} 
 
.btn-sample .badge { 
  color: #C2C2C2; 
  background-color: #FFFFFF; 
}

.posting-styling {
  height: 200px;
  overflow: scroll;
}


