body {
	padding-top: 60px;
  	padding-bottom: 40px;
  	background-color: #fff;
}

#left-control {
	opacity: 0.2;
}

#right-control {
	opacity: 0.2;
}

#quote {
	font-size: 2em;
	margin: 2em 0;
    line-height: 1.5;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.grow-posting { transition: all .2s ease-in-out; }
.grow-posting:hover { 
	transform: scale(1.05); 
	z-index: 99999;
  	/*box-shadow: 0 5px 15px rgba(0, 41, 255, 1) !important;*/
}

.row .col-md-12 {
	padding-top: 20px;
	padding-bottom: 20px;
}